
form{
	border:2px solid #ff0000 ;
    display:block;
	width:250px;
	margin-left:auto;
	margin-right:auto;
	
	
}
div{
	margin:10px 20px;
	display:inline-block;
	
	
	
}
label{
	display:block;
	
	
}

button[type="reset"]{
	

	background-color:#ff0000;
	color:#fff;
	border-color:#000;
	
}
ul{
	list-style-type:none;
	
	
	
}
li{
	display:inline-block;
	margin:0 10px;
}
button{
	border: 1px solid #5e5e5e;
	border-radius:5px;
	color: #fff;
	padding:5px 12px;
	margin: 10px;
	
}
button[type="submit"]{
	background: #41b70c;
	
}
button[type="reset"]{
	background:#ff0000;
}